

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #f6f6c9;
}

.heading{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.form{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

form{
    background: #bad1c2c6;
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
}

input{
    margin: 2%;
    padding: 3%;
    border: 5px solid white;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

select{
    margin: 1%;
}

button{
    margin: 15;
    background-color: #153462;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
}

p{
    margin: 2%;
}

/* Extra small devices(phone,600px and down */
@media only screen and (max-width: 600px){
    form{
        height : 65%;
        width: 50%;
    }

    
}


@media only screen and (max-width: 768px){
   

}